################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/EFCoreBookSamples/WorldwideWings/.vs/EFC_WWWings
/EFCoreBookSamples/WorldwideWings/EFC_BL/obj/Debug
/EFCoreBookSamples/WorldwideWings/EFC_BO/obj/Debug
/EFCoreBookSamples/WorldwideWings/packages
/EFCoreBookSamples/WorldwideWings/EFC_WWWingsV1_Reverse(NETStandard)/obj
/EFCoreBookSamples/WorldwideWings/EFC_WWWingsV1_Reverse(NETFX)/obj/Debug
/EFCoreBookSamples/WorldwideWings/EFC_Tools/obj/Debug
/EFCoreBookSamples/WorldwideWings/EFC_GUI/obj/Debug
/EFCoreBookSamples/WorldwideWings/EFC_EntityDeveloper/obj/Debug
/EFCoreBookSamples/WorldwideWings/EFC_DA_Step1/obj
/EFCoreBookSamples/WorldwideWings/EFC_DA/obj/Debug
/EFCoreBookSamples/WorldwideWings/EFC_Console_Step1/obj
/EFCoreBookSamples/WorldwideWings/EFC_Console/obj/Debug
/EFCoreBookSamples/WorldwideWings/EFC_BO_Step1/obj
